.card-img {
    position: relative;
    display: none;
}

.active {
    display: block;
}

.card-title-description {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
}

p {
    font-size: 0.75rem;
}